<!DOCTYPE html>
<html>
<head>
  <title>Register Page</title>
  <script src="register_build.js" defer></script>
</head>
<body id="register_form">
  <form>
    <input type="text" name="username" value="Username"><br>
    <input type="text" name="password" value="Password"><br>
    <input type="text" name="reenter" value="Re-Enter Password"><br>
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female
    <input type="radio" name="gender" value="other">Other<br>
    <input type="submit" name="login" value="Login">
  </form>
</body>
</html>
