<!DOCTYPE html>
<html>
	<head>
		<title>Pierce Jordan Week 8</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><strong>Pierce Jordan's</strong><br>Module Website</h2>
				<p>containing a summary of topics and labs covered each week</p>
				<ul class="actions">
					<li><a id="started" href="../../index.html" class="button special">Home</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
        <div class="inner">
					<header class="major">
						<h2>Week Eight</h2><br>
						<h3>This week we looked at AJAX & jQuery combined.</h3>
            <h1>Lectures on SDL and Agile. Lab on AJAX & jQuery Combined.</h1>
					</header>
					<div class="features">
						<div class="feature">
							<a href="labs/Week8/Lecture2_Software_Development_Life_Cycle.pdf"><i class="fa fa-file"></i></a>
							<h3>Lecture on SDL and Agile</h3>
						</div>
						<div class="feature">
							<a href="labs/Week8/Week8.zip"><i class="fa fa-file-archive-o"></i></a>
							<h3>Lab Notes jQuery</h3>
							<p>Lab notes on AJAX, jsonp & jQuery.</p>
						</div>
						<div class="feature">
							<a href="labs/week8/creditcardjQuery.html"><i class="fa fa-folder-open"></i></a>
							<h3>Credit Card Validator jQuery</h3>
							<p>A lab covering a credit card validator with jQuery(plugin).</p>
						</div>
						<div class="feature">
							<a href="labs/Week8/data-jsonp-solution/data-jsonp.html"><i class="fa fa-folder-open-o"></i></a>
							<h3>AJAX jsonp and jQuery</h3>
							<p>Lab covering AJAX, jsonp & jQuery. (webserver required)</p>
						</div>
						<div class="feature">
							<a href="labs/Week8/data-xml-solution/data-xml.html"><i class="fa fa-folder-open"></i></a>
							<h3>AJAX XML and jQuery</h3>
							<p>Lab covering jQuery looping.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Module Website. Design: <a href="#">piercej</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
